.Title {
  display: flex;
  align-items: center;
  margin-bottom: 12px !important;

  :global button {
    margin-top: 8px;
    margin-left: 8px;
  }
}

.ButtonInDropdown {
  margin-bottom: 12px;
}

.TextPlaceholder {
  text-align: center;
  color: var(--mantine-color-dimmed);

  margin: 50px 0;
}

.CheckIcon,
.ErrorIcon {
  display: table;
  margin: 0 auto;

  color: white;
  border-radius: 50%;
  height: 20px;
  width: 30px;

  :global svg {
    margin-left: 5px;
    margin-top: 5px;
  }
}

.CheckIcon {
  background-color: var(--mantine-color-green-8);
}

.ErrorIcon {
  background-color: var(--mantine-color-red-8);
}

.TitleDocs {
  display: flex;
  align-items: center;
  margin-top: 32px;
  margin-bottom: 12px;

  :global .mantine-Select-root {
    margin-left: 12px;
  }
}

.CheckboxInTable :global .mantine-Checkbox-body {
  justify-content: center;
}

.TableDocs :global .mantine-Table-tr:has(td):has(div[data-checked="true"]) {
  background-color: var(--mantine-color-blue-light);
}

.SendNotificationInTable {
  display: table !important;
  margin: 0 auto;

  :global .mantine-Button-label {
    padding: 0 10px;
  }
}

.SendNotification {
  float: right;
  margin: 15px 0;

  :global .mantine-Badge-root {
    margin: 0 5px;
  }

  &[disabled] :global .mantine-Badge-root {
    opacity: 0.7;
  }
}
